<html>
    <head>
        <title>Add Task</title>
        <link rel="stylesheet" href="/css/addTask.css">
        <script src="/js/jquery-3.6.0.js"></script>
        <script src="/js/addTask.js"></script>
    </head>
    <body>
        <button id="backBtn">Back</button>
        <br>
        <br>
        <h1>{{title}}</h1>
        <br>
        <form id="taskForm">
            <fieldset>
                <label>Task:</label>
                <input type="text" id="task" value="{{task.task}}">
                <br>
                <br>
                <label>Staus:</label>
                <select id="status">
                    {{!-- {{#select task.status}} --}}
                        <option value="complete">Complete</option>
                        <option value="incomplete">Incomplete</option>
                    {{!-- {{/select}} --}}
                </select>
                <br>
                <br>
                <label>Owner:</label>
                <select id="owner_id">
                    {{!-- {{#select task.owner_id}} --}}
                        {{#each users}}
                            <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                {{!-- {{/select}} --}}
                </select>
                <br>
                <br>
                <input type="submit" value="{{btnName}}">
                <input type="reset">
            </fieldset>
        </form>
    </body>
</html>